{% extends "base.html" %}

{% block body %}
<style>
.for_booking_form{
  height:470px;
  position: relative;
  left:40%;
  top:0%;
  width:45%;
} 
.show_bookings{
  position: relative;
  width:20%;
  left:40%;
  background-color:;
  margin:20px; 
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px; 
} 

.for_booking_container{
  height:470px;
  position: relative;
  width:45%;
  background-color:;
  margin:20px; 
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px; 
}
.for_booking_date{
  position: relative;
  top:0;
  left:5%;
}
.for_booking_date_inner, .for_booking_time_inner{
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px; 
}
.for_booking_time{
  position: relative;
  top: 10%;
  left:5%;
}
.for_booking_button,button{ 
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px; 
}
.for_message{
  position: relative;
  color: red;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px; 
}

* {box-sizing: border-box;}
</style>
<div class="show_bookings"><br>
  <button>Show Bookings</button><br>
</div>
<form action="/bookings" method="POST" class="for_booking_form">
  {% csrf_token %}
  <div>
  <div class="for_booking_container">
     <div class="for_booking_date">
       <h5>Choose Date:</h5>
       <input type="date" class="for_booking_date_inner" name="for_date">
     </div>
      <div class="for_booking_time">
          <h5>Choose Time:</h5>
         <input type="time" class="for_booking_time_inner" name="for_time">
     </div>
     <div class="for_booking_button"><br><br><br>
      &nbsp;&nbsp;<button name="for_button">Submit</button>
   </div>       
    <div class="for_message"> 
        {%for message in messages%}
        <h5>{{message}}</h5>
        {% endfor %}
        </div>

</div>
</div>

</form>

{% endblock body %}
