{% extends "base.html" %}

{% block  body %}


<div class="event-section-one">
   <div class="event-section-one-img">
      
   </div>

   <div class="event-section-one-img">
      
   </div>
   <div class="event-section-one-img">
      
   </div>

</div>
<div class="event-right-sidebar">
<div class="event-right-sidebar-items">
   <div class="event-right-sidebar-1">
      <br>
      <h3 style=" 
      position:absolute;left:40%;
      color:black; 
   
      font-weight:600;
      letter-spacing:0.5px;
      line-height: 1.3em;
     ">Oraganize Events</h3>
      <table border="1" class="right-sidebar-table" cellspacing="10px">
         
         <br>
         <th colspan="4" style="background-color:rgb(53, 86, 69); color:white;">Events</th>
        <tr>
        <tr><td><button>Create Event</button></td>
         <td><button> Become a Sponsor</button></td></tr>
       </tr>
      </table><br><br>
      <h3 style=" 
      position:absolute;
      left:42%;
      color:black; 
      font-weight:600;
      letter-spacing:0.5px;
      line-height: 1.3em;
     ">Participate</h3><br>
<table class="right-sidebar-table" border="1">
   <tr><th style="background-color:rgb(53, 86, 69); color:white;"> Red Bull Cup</th></tr>

   <tr>
      <td>Event Date : September 25th,2022</td>
   </tr>
      <tr>
      <td>Winning Prize : Rs 50,000</td>
   </tr>
<tr><td>
   Second Prize : Rs 20,000
</td>   
</tr>
<tr><td><a href="#">Participate</a></td></tr>

</table>
<br>
<br>
<table class="right-sidebar-table" border="1">
   <tr><th style="background-color:rgb(53, 86, 69); color:white;">Wai Wai Futsal Cup</th></tr>

   <tr>
      <td>Event Date : October 25th,2022</td>
   </tr>
      <tr>
      <td>Winning Prize : Rs 30,000</td>
   </tr>
<tr><td>
   Second Prize : Rs 15,000
</td>   
</tr>
<tr><td>
   Third Prize : Rs 5,000
</td>   
</tr>
<tr><td><a href="#" >Participate</a></td></tr>

</table>
<br><br>
<table class="right-sidebar-table" border="1" >
   <tr><th style="background-color:rgb(53, 86, 69); color:white;">All Nepal Futsal League</th></tr>

   <tr>
      <td>Event Date : November 25th,2022</td>
   </tr>
      <tr>
      <td>Winning Prize : Rs 3 Lakh</td>
   </tr>
<tr><td>
   Second Prize : Rs 1 lakh
</td>   
</tr>
<tr><td>
   Third Prize : Rs 50,000
</td>   
</tr>
<tr><td><a href="#">Participate</a></td></tr>

</table>


</div>
</div>
</div>
    {% endblock body %}